---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Time Series Analysis, Teaching Assistant, NTU SPMS, Spring 2021<br />

Probability and Introduction to Statistics, Teaching Assistant and Tutor, NTU SPMS, Fall 2020<br />

Statistics, Teaching Assistant and Tutor, NTU SPMS, Spring 2020<br />

Introduction to Data Science and Artificial Intelligence, Teaching Assistant, NTU SPMS, 2019<br />


<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
